
body {
    background: url("../images/gif.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: black;
}

* {
    box-sizing: border-box;
}

#heading {
    text-align: center;
}

#intro {
    font-family: 'Acme', san-serif;
    font-size: x-large;
    font-weight: bold;
}

h3 {
    margin-left: 50px;
    color: blue;
    font-family: 'Potta One', cursive;
    font-size: xx-large;
}

p {
    font-family: 'Acme', san-serif;
    margin-left: 50px;
    margin-right: 50px;
    font-size: x-large;
    font-weight: bold;
}

h2 {
    font-size: 4vw;
    font-family: 'Potta One', cursive;
    color: black;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.link-effect {
    margin-left: 0px;
    color: blue;
    font-size: xx-large;
    text-decoration: none;
}

.left img {
    width: 150px;
}

/* three image containers (use 25% for four, and 50% for two, etc) 
        .column {
          float: left;
          width: 50%;
          padding: 20px;
        }

        /* Clear floats after image containers 
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
        /* Responsive layout - makes the two columns stack on top of each other instead of next to each other*/
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}

.row {
    display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}